body.index {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

body.contact {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

body.photo {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.cro {
  border-radius: 5px;
}
